body {}

.board {
    top: 30%;
    left: 30%;
    position: absolute;
    display: block;
    border: solid black 2px;
}

td {
    height: 60px;
    width: 60px;
    border: solid black 2px;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
}

td:hover {
    background-color: antiquewhite;
}

span {}